@model List<Position>
<div>
	<a class="text-primary" asp-controller="Position" asp-action="Create">Create</a>
	<table class="table">
		<thead>
			<tr>
				<th scope="col">Id</th>
				<th scope="col">Name</th>
				<th scope="col">Delete Status</th>
				<th scope="col">Actions</th>
			</tr>
		</thead>
		<tbody>
			@foreach (Position position in Model)
			{
				<tr>
					<th scope="row">@position.Id</th>
					<td>@position.Name</td>
				    <td>
						@if (!position.IsDeleted)
						{
							<span class="text-success">Active</span>
						}
						else
						{
							<span class="text-danger">Inactive</span>
						}
					</td>
					<td>
						@if (!position.IsDeleted)
						{
							<form asp-controller="Position" asp-action="Delete" asp-route-id="@position.Id">
								<button class="btn btn-danger">Delete</button>
							</form>
						}
						else
						{
							<form asp-controller="Position" asp-action="Restore" asp-route-id="@position.Id">
								<button class="btn btn-success">Restore</button>
							</form>
						}
					</td>
					<td>
						<a class="btn btn-warning" asp-controller="Position" asp-action="Update" asp-route-id="@position.Id"></a>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>